
  <div class="row w-100 ">
    <div class="col-2  p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.target">
    </div>
    <div class="col-2 p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.serial">
    </div>
    <div class="col-2  p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.factory_name">
    </div>
    <div class="col-1 p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.eq_type">
    </div>
    <div class="col-1 p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.part_id">
    </div>
    <div class="col-3 p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.part_descr">
    </div>
    <div class="col-1 p-0">
      <input class="form-control" type="text"  [(ngModel)]="request_part.part_qty">
    </div>
  </div>

