<div class="container-fluid  overflow-hidden vh-100 vw-100" style="background-color: beige">
  <div class="row">
    <div class="col-5">
      @for (s of states | keyvalue; track s) {
        <div class="row">
          {{ s.key }} {{ s.value[0] }}:  {{ s.value[1] }}
        </div>
        <div class="row">
          <app-cmp-request-by-status [status]="s.key" [processMainPageComponent]="this"></app-cmp-request-by-status>
        </div>
      }
    </div>
    <div class="col-7">

      @switch (selected_status) {
        @case (0) {
          EMPTY
        }
        @case (10) {
          <div class="btn btn-primary" (click)="OnApprove()">APPROVE</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-2  p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.target">
              </div>
              <div class="col-2 p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.serial">
              </div>
              <div class="col-2  p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.factory_name">
              </div>
              <div class="col-1 p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.eq_type">
              </div>
              <div class="col-1 p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.part_id">
              </div>
              <div class="col-3 p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.part_descr">
              </div>
              <div class="col-1 p-0">
                <input class="form-control" type="number" [(ngModel)]="request_part.part_qty">
              </div>
            </div>
          }
        }
        @case (20) {
          <div class="btn btn-primary" (click)="OnChooseSupplier()">ПОСТАВЩИК</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-9  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}
              </div>
              <div class="col-3 p-0">
                <input class="form-control" type="text" [(ngModel)]="request_part.supplier_person">
              </div>
            </div>
          }
        }
        @case (30) {
          <div class="btn btn-primary" (click)="OnSupplyerSetPrice()">ЦЕНА ПОСТАВЩИКА - Доставка</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-8  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}
              </div>
              <div class="col-2 p-0">
                <input class="form-control" type="number" [(ngModel)]="request_part.part_price">
              </div>
              <div class="col-2 p-0">
                <input class="form-control" type="number" [(ngModel)]="request_part.part_delivery">
              </div>
            </div>
          }
        }
        @case (40) {
          <div class="btn btn-primary" (click)="OnPriceApprove()">Определение цены по формулам</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-12  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}|{{ request_part.part_price }}|{{ request_part.part_delivery }}
              </div>

            </div>
          }
          <div class="row">
            <div class="col-1">
              <div class="btn btn-primary" (click)="OnPriceCalc()">Считать</div>
            </div>
            <div class="col-11">
              <input class="form-control" type="number" [(ngModel)]="price_acc">
            </div>
          </div>
        }
        @case (50) {
          <div class="btn btn-primary" (click)="OnPriceAccept()">Создать КП</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-12  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}|{{ request_part.part_price }}|{{ request_part.part_delivery }}
              </div>
            </div>
          }
          <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2">
              <input class="form-control" type="number" [(ngModel)]="price_acc">
            </div>
          </div>
        }
        @case (60) {
          <div class="btn btn-primary" (click)="OnCreateContract()">Создать Контракт</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-12  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}|{{ request_part.part_price }}|{{ request_part.part_delivery }}
              </div>
            </div>
          }
          <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2">
              <input class="form-control" type="number" [(ngModel)]="price_acc">
            </div>
          </div>
        }
        @case (70) {
          <div class="btn btn-primary" (click)="OnCreateSuppliersContracts()">Создать Контракты с поставщиками</div>
          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-12  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}|{{ request_part.part_price }}|{{ request_part.part_delivery }}
              </div>
            </div>
          }
          <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2">
              <input class="form-control" type="number" [(ngModel)]="price_acc">
            </div>
          </div>
        }

        @case (80) {
          <app-cmp-parts-by-supplyer [processMainPageComponent]="this"></app-cmp-parts-by-supplyer>
        }
        @case (90) {
          <app-cmp-parts-by-supplyer [processMainPageComponent]="this"></app-cmp-parts-by-supplyer>
        }
        @case (100) {
          <app-cmp-parts-by-supplyer [processMainPageComponent]="this"></app-cmp-parts-by-supplyer>
        }
        @case (110) {

          @for (request_part of current_parts; track request_part) {
            <div class="row w-100 ">
              <div class="col-12  p-0">
                {{ request_part.target }} | {{ request_part.serial }} |{{ request_part.factory_name }}
                |{{ request_part.eq_type }} |{{ request_part.part_id }} |{{ request_part.part_descr }}
                |{{ request_part.part_qty }}|{{ request_part.supplier_person }}|{{ request_part.part_price }}|{{ request_part.part_delivery }}
              </div>
            </div>
          }
          <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2">
              <input class="form-control" type="number" [(ngModel)]="price_acc">
            </div>
          </div>
        }


        @default {
          EMPTY
        }
      }


    </div>
  </div>


</div>


